<h1>ATC-Cargo</h1>
<h4>Twoje dane:</h4>
<strong>Stanowisko:</strong> {{ role|capitalize }}<br>
<strong>Kod rejestracyjny:</strong> {{ code }}
<p>Rejestracja - http://127.0.0.1:8000/app_dev.php/register</p>
